/* pour le prochain site : nommer des variables pour les couleur de la charte graphique. Ex : 
:root {
  --background-color : yellow;
  --padding-item: 20px;
}
PLus tard on peut reprendre ces variables :
li {
  background-color: var(--bg-yellow);
  border: solid 4px red;
  padding: var(--padding-item);
  list-style: none;
}*/

/*-------------------------------------------------------------------------*/

/* COMMON */
html {
  /* permet de faire la règle 10px = 1rem */
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.2rem;
  line-height: 18px;
  color: #000a12;
  background-color: #f2f2f2;
  /* on verifie si on peut utiliser font-smoothing sur CanIUse puis on adapte pour les navigateurs qui ne l'accepteraientt pas : */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  line-height: 20px;
  color: #4a4a4a;
}
/* chosen town title */
h1 {
  font-size: 24px;
  line-height: 50px;
  color: #333333;
  background-color: white;
  padding: 0 10px 0 20px;
  border-radius: 25px;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

h1 i {
  color: #00a680;
  vertical-align: middle;
}

h1:hover i {
  color: #19e6b6;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 17px;
}
h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
h4 {
  font-size: 22px;
  line-height: 26px;
  color: #2c2c2c;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 25px;
  /* box-sizing permet d'inclure les padding et 
  les borders dans la taille specifiee en origine, 
  pour pas que ca rajoute de la taille. Ici par exemple, pour que les border des images ne modifie pas son div. */
  box-sizing: border-box;
}

/* FLEXBOX */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* ICONS */
.icon-micro {
  font-size: 12px;
  /* okayyyyy, c'est la que les chevrons de breadscrumbs se centrent! */
  vertical-align: middle;
}
.icon-small {
  font-size: 14px;
}
.icon-medium {
  font-size: 22px;
}
.icon-large {
  font-size: 33px;
}

/* PADDING */
.pl-20 {
  padding-left: 20px;
}
.p-25 {
  padding: 25px;
}

/* BUTTONS */

.btn {
  background-color: rgb(7, 129, 113);
  color: white;
  font-size: 14px;
  line-height: 36px;
  padding: 0 12px;
  text-transform: uppercase; /*IMPORTANT*/
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.btn:hover {
  background-color: rgb(6, 105, 92);
}

/* ALIGN */

.text-center {
  text-align: center;
}

/* HEADER */

header {
  background-color: white;
  height: 60px;
  width: 100%;
  align-items: center;
  vertical-align: center;
  position: fixed;
  z-index: 666;
}
header img {
  width: 180px;
}

header > div {
  display: flex;
  /* un espace entre le logo et la liste de boutons a droite */
  justify-content: space-between;
}

header ul {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  align-items: center;
}

header ul a {
  display: flex;
  text-decoration: inherit;
  flex-direction: column;
  margin-right: 20px;
  color: inherit;
  align-items: center;
}
header a:hover {
  color: rgb(7, 129, 113);
}
.fixed {
  position: fixed;
}
.sub-menu {
  background-color: white;
  width: 100%;
  margin-top: 2px;
  position: fixed;
  z-index: 667;
}
.sub-menu ul {
  display: flex;
}
.sub-menu li {
  font-size: 14px;
  padding: 0 30px 0 0;
  line-height: 40px;
}
/* MENU */

menu {
  display: flex;
  width: 100%;
  height: 250px;
  background-size: cover;
  position: relative;
  /* tout ca en-dessous je vois pas trop l'utilité */
  align-items: center;
  justify-content: center;
  background-position: center;
  margin-bottom: 100px;
}
.space {
  height: 60px;
}

/* BANDEAU PATH */

.breadcrumbs {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 11px;
}
.breadcrumbs ul {
  display: flex;
  /*plus besoin : flex-direction: row;*/
}
.breadcrumbs i {
  padding: 0 5px;
}
.breadcrumbs a {
  /*permet d'avoir le texte au milieu verticalement */
  line-height: 40px;
  text-decoration: inherit;
  color: inherit;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* CHOSEN TOWN */
/* == h1 */
.reset-location {
  background-color: rgba(0, 10, 18, 0.6);
  border-radius: 50%;
  padding: 5px;
  margin-left: 15px;
}
.reset-location:hover {
  background-color: rgba(0, 10, 18, 1);
  cursor: pointer;
}
.reset-location i {
  font-size: 18px;
  color: white;
}

/* BANDEAU NAV */
nav {
  display: flex;
  position: absolute;
  /* ici ne sert a rien mais toujours mettre un depart pour sa position absolue */
  bottom: -75px;
  width: 100%;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: top;
  background-color: white;
  padding: 24px 0 10px 0;
}

nav a {
  display: flex;
  flex-direction: column;
  text-decoration: inherit;
  color: inherit;
  text-align: center;
  margin: 0 46px;
}
nav a:hover span {
  text-decoration: underline;
}
nav span {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
nav i {
  color: #00a680;
}

/* MAIN */
main {
  display: flex;
  /*margin-top : 100px;*/
}
main > div {
  /* flex: 1;  ca peut poser pb avec la scroll-bar */
  width: 56%;
}
main aside {
  width: 23%;
}

aside > div {
  background-color: white;
  padding: 25px;
  margin-bottom: 15px;
}

/* SUBSCRIBE */
aside .unlock img {
  width: 135px;
  /* pour prendre la largeur entiere du block */
  display: block;
  /* et placer l'image au centre avec marges automatiques */
  margin: 0 auto;
  margin-bottom: 20px;
}

aside .unlock li {
  display: flex;
  margin-bottom: 15px;
}
aside .unlock li:last-child {
  margin-bottom: 35px;
}
.bullet {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #4a4a4a;
  margin-right: 12px;
}
.btn-white {
  line-height: 36px;
  border: solid 1px #d6d6d6;
  width: 100%;
  padding: 0 12px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}
.btn-white:hover {
  border-color: #767676;
  cursor: pointer;
}
/* EXPLORE */
aside .explore a {
  color: inherit;
  text-decoration: inherit;
}
aside .explore a:hover {
  text-decoration: underline;
}
aside .explore ul li:first-child {
  font-weight: bold;
}
aside .explore li {
  line-height: 22px;
}
aside .explore ul {
  margin-bottom: 10px;
}
aside .explore img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* SECTION DU MILIEU  : div du total, 
section pour chaque coprs blancs,
 div pour la partie texte + div gallery pour la partie image*/
section {
  margin-bottom: 25px;
}
section > div {
  background-color: white;
  margin: 0 25px;
}
section .p-25 div {
  margin-top: 5px;

  font-weight: bold;
}
.green {
  color: #00a680;
}
/* GALLERY */
.gallery {
  flex-wrap: wrap;
}
.gallery > div {
  border-bottom: solid 2px white;
  width: 50%;
  height: 170px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}
.gallery div:nth-child(even) {
  border-left: 2px solid white;
  box-sizing: border-box;
}
.gallery div:last-child > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  font-weight: bold;
}

/* MEILLEURS RESTAURANTS */
.scroll-bar {
  width: 100%;
  /* le overflow toujours avant le overflow-x !!!!!!!! IMPORTANCE des regles de priorités : le plus précis écrase le moins*/
  overflow: hidden;
  overflow-x: scroll;
}

/*.scroll-bar::-webkit-scrollbar {
  display: none; pour masquer la scrollbar 
}*/
.scroll-bar li {
  /* display: flex;
  flex-direction: column; */
  width: 33%;
  padding: 0 10px;
  box-sizing: border-box;
  /* margin-right: 25px; padding a la place */
  /* pour eviter les petites images en flex 1 car le parent n'a pas de taille en px*/
  flex: none;
}

.resto {
  width: 100%;
  height: 125px;
  background-size: cover;
  position: relative;
  /*object-fit: cover;
  object-position: center SI IMG SRC;*/
}
.scroll-bar li i {
  position: absolute;
  top: 0;
  right: 0;
}
/* VISIBLE */
/* regroupe les icones visibles uniquement sur mobile
elles sont déclarées en général en display: none puis changent en mediaqueries */

.visible-768 {
  display: none;
}
.hidden {
  display: none;
}

/* POP UP FORMULAIRE */
.modal {
  display: flex;
  position: fixed;
  /* top super important sinon rien ne s'affiche !!*/
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* aux dimensions de l'écran avec viewport */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* par dessus le fixed header */
  z-index: 668;
}
.modal > div {
  background-color: white;
  padding: 25px;
  width: 400px;
  height: 400px;
}
.modal > div i {
  color: red;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 1240px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hidden-1024 {
    display: none;
  }
  nav {
    width: 100%;
  }
  nav li {
    display: flex;
    flex: 1;
  }
  nav ul {
    /* avait avant : padding: 24px 0 10px 0;*/
    width: 100%;
  }
  nav a {
    margin: 0 10px;
  }

  main > div {
    width: 100%;
  }
  section > div {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .hidden-768 {
    display: none;
  }
  .visible-768 {
    /*pour les icones speciales mobile*/
    display: block;
    /* pour centrer verticalement des blocs : utiliser line-height */
    line-height: 50px;
  }
  .container {
    padding: none;
  }
  header {
    height: 50px;
  }

  /* TRANSFORM : SCALE : redimensionner les images en pourcentage de l'original pour la version tablette/mobile */
  header img {
    transform: scale(0.7);
  }
  menu {
    height: 140px;
    margin-bottom: 200px;
  }
  /* rappetisser le paris du milieu */
  menu > div:nth-child(2) {
    transform: scale(0.6);
  }
  nav {
    bottom: -185px;
  }
  nav ul {
    /* pour tout afficher sur plusieurs lignes */
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  nav li {
    /* pour n'en afficher que 3 par ligne */
    width: 33.333333%;
    /* pour ne pas qu'il affiche tout */
    flex: none;
    /* pour tout bien centrer */
    padding: 12px 10px 0 10px;
    box-sizing: border-box;
    justify-content: center;
  }
  nav a {
    transform: scale(0.7);
  }
  nav span {
    font-size: 16px;
    padding: 5px 0;
  }
}
